body {
   text-align: center;
   font-family: 'Lobster', cursive;
   font-family: 'Kaushan Script', cursive;
   font-family: 'Shadows Into Light Two', cursive;
   font-family: 'Cabin Sketch', cursive;
   font-family: 'Open Sans', sans-serif;
}
